obj/
*.o

# libraries and examples
libioma.a
libioma.so
libioma.so.*
ioma-hello
ioma.pc

# old binaries
ioma
ioma-tiny
ioma-trace
stackful
stackful-tiny
stackful-trace

# CMake / CLion
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
compile_commands.json

# IDE
.idea/
