obj/
*.o

# libraries and examples
libioxd.a
libioxd.so
libioxd.so.*
ioxd-hello
ioxd.pc

# old binaries
/ioxd
ioxd-tiny
ioxd-trace
stackful
stackful-tiny
stackful-trace

# CMake / CLion
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
compile_commands.json

# IDE
.idea/
tests/ioxd-test-server
tests/ioxd-unit
tests/ioxd-pipe-server
tests/certs/
